html {
  font-size: $font-size-base;
}

body {
  font-size: 1rem;
}

/* Stop Firefox from putting annoying dotted focus lines around everything */
*::-moz-focus-inner {border:0 !important;}
*:focus {outline:none !important;}