.cr-accordion__header button {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0;

  font-family: $headings-font-family;
  color: #fff;
  text-align: left;
  background-color: $brand-primary;

  border-width: 0;
  border-radius: 0.142857143em;

  &::after {
    float: right;

    content: svg("plus.svg");
  }

  &[aria-expanded="true"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    &::after {
      content: svg("minus.svg");
    }
  }
}

.cr-accordion__image {
  float: left;
  width: 30%;
  margin-right: 2em;

  text-align: center;
}

.cr-accordion__content {
  .no-js & {
    display: inherit;
  }

  @extend .clearfix;
  padding: 2em;
  background-color: #fff;
}
