.accordion {
  > .panel-heading {
    > .panel-title {
      color: $brand-primary;
      text-decoration: none;
      :hover {
        text-decoration: none;
      }

      i {
        color: $brand-tertiary;
        padding-right: 10px;
      }

      .add-details {
        font-size: $font-size-base;
        vertical-align: middle;
      }
    }
  }

  legend {
    border-bottom: none;
    margin-bottom: 0;
  }
}

/*
 * The style below is used to allow use to have panels within panels that don't get too padded. It's only been
 * tested with accordion behaviour
 */
.panel .panel {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  .panel-body:nth-child(odd) {
    padding: 0;
  }
}

html.js fieldset.collapsed {
  height: auto !important;
}