@import "../variables";

.brand-primary {
  color: $brand-primary;
}

.brand-secondary {
  color: $brand-secondary;
}

.brand-tertiary {
  color: $brand-tertiary;
}

.brand-gray-light {
  color: $brand-gray-light;
}

.brand-gray-medium {
  color: $brand-gray-medium;
}

.brand-gray-dark {
  color: $brand-gray-dark;
}
