.cr-cta-link {
  &__icon {
    @include chevron;
    color: $brand-secondary;
    &::before {
      padding-right: 8px;
      text-decoration: none;
      vertical-align: middle;
      content: "\e911";
    }
  }

  &__link {
    font-size: 14px;
    font-weight: bold;
    color: $brand-secondary;
  }
}
