// CRUK pager styles.
.cr-simple-pager {
  @include clearfix();
  position: relative;
  padding-left: 0px;
  margin: 20px 0px;
  text-align: center;
  list-style: none;

  &__icon {
    @extend .cr-i;

    position: relative;
    top: 1.5px;
  }

  &__previous {
    float: left;

    .cr-simple-pager__icon {
      @extend .cr-i--chevron-left;

      margin-right: 3px;
    }
  }

  &__next {
    float: right;

    .cr-simple-pager__icon {
      @extend .cr-i--chevron-right;

      margin-left: 3px;
    }
  }

  &__previous.disabled {
    display: none;
  }

  &__link {
    @include card-boxing;
    display: inline-block;
    height: 40px;
    padding: 9px 14px;
    color: white;
    cursor: pointer;
    background-color: $brand-primary;
    line-height: 1.4rem;

    &:focus,
    &:hover {
      background-color: #6C5C99;
      color: white;
      text-decoration: none;
    }
  }

  &__current {
    @extend .text-center;

    position: absolute;
    left: 50%;
    width: 130px;
    margin-left: -65px;
  }

  &__indicator {
    display: inline-block;
    height: 40px;
    padding: 9px 14px;
    font-size: 1rem;
    color: $text-color;
    cursor: text;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .glyphicon {
    font-size: 12px;
  }
}
