// Fixup for a Drupalism (or at least, how we've set up cruk_bootstrap)
h1.page-header {
  +.panel.generic-content {
    border-top-left-radius: 0;
    border-top: 0;
    border-top-right-radius: 0;
  }

  +article {
    @extend .panel;
    @extend .panel-default;
    @extend .panel-body;
    @include fieldset-no-border-top;
  }
}

.panel-accordion {
  border-color: #ddd;
  .panel-heading {
    font-size: 1.1em;
    padding: 0px;
    background-color: #f5f5f5;
    h3 {
      margin: 0;
      a {
        color: #2e008b;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
        line-height: 20px;

      }
      .collapse-toggle:focus {
        outline: 5px auto -webkit-focus-ring-color !important;
        outline-offset: -2px;
      }
      @media screen and (min-width: 800px +1) {
        a:hover {
          color: #e40085;
          text-decoration: underline;
        }
      }
    }
  }

  .panel-body {
    font-size: 14px;
  }

  a.collapsed span.icon:before,
  .collapse-toggle.collapsed:before {
    font-family: 'Glyphicons';
    content: "\2b";
    padding-right: 0.4em;
    display: inline-block;
    font-size: 25px;
    line-height: 20px;
    vertical-align: top;
  }

  a span.icon:before,
  .collapse-toggle:before{
    font-family: 'Glyphicons';
    content: "\2212";
    padding-right: 0.4em;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    line-height: 20px;
    vertical-align: top;
  }
}
