.accordion {
  .panel-title {
    color: $brand-primary;
    text-decoration: none;
    :hover {
      text-decoration: none;
    }

    i {
      color: $brand-tertiary;
      padding-right: 10px;
    }

    .add-details {
      font-size: $font-size-base;
      vertical-align: middle;
    }
  }
}

legend {
  border-bottom: none;
}

.panel .panel {
  border: none;
  .panel-body {
    padding: 0;
  }
}

.collapsible legend {
  border: none;
}

html.js fieldset.collapsed {
  height: auto !important;
}