@import "../variables";
@import "../mixins/forms";

// Fixup for a Drupalism (or at least, how we've set up cruk_bootstrap)
.page-header {
  +.panel.generic-content {
    border-top-left-radius: 0;
    border-top: 0;
    border-top-right-radius: 0;
  }

  +article {
    @extend .panel;
    @extend .panel-default;
    @extend .panel-body;
    @include fieldset-no-border-top;
  }
}
