// CRUK Search styles.
.cr-search-summary {
  @extend .alert;

  padding: 0 3px;
  margin: 20px 0;

  &__info {
    font-size: 1rem;
  }
}

// CRUK Search loader styles
.cr-loader {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -35px;

  &__spinner {
    width: 70px;
    margin: 22px auto;
    text-align: center;
  }

  &__spinner-item {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 2px;
    background-color: $brand-primary;

    border-radius: 100%;
    animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;

    &--bounce1 {
      animation-delay: -0.32s;
      -webkit-animation-delay: -0.32s;
    }

    &--bounce2 {
      background-color: $brand-secondary;
      animation-delay: -0.16s;
      -webkit-animation-delay: -0.16s;
    }

    &--bounce3 {
      background-color: $brand-tertiary;
    }
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
