@import "../variables";

.cr-table {
  width: 100%;

  &__cell {
    font-size: $font-size-small;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
    background: white;
    border: 2px solid $brand-gray-medium;
    padding: 6px 13px;

    &--heading {
      font-weight: bold;
      color: white;
      background: $brand-primary;
    }

    &--number {
      text-align: right;
    }
  }
}

.cr-table {
  &[scope=row] {
    width: 150px;
    word-wrap: break-word;
  }
}

.cr-table--colrow-header {
  th:first-child {
    background: transparent;
    border: transparent;
  }

  tr:first-child {
    border-top: 0;
  }
}
