@import "../../base/variables";
@import "../../mixins/display";

// CRUK Search result styles.
.cr-search-results {
  @extend .media-list;
}

.cr-search-result {
  @extend .media;
  @include card-boxing;

  padding: 15px;
  margin-top: 15px;

  &__title {
    @extend .media-heading;

    margin-bottom: 7px;
    font-size: 19px;
  }

  &__meta {
    @extend .list-inline;

    margin-bottom: 5px;
  }

  &__url {
    @extend .text-muted;

    margin-bottom: 5px;
  }

  &__excerpt {
    font-size: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__media-body {
    @extend .media-body;
  }

  &__media-left {
    @extend .media-left;
  }

  &__media-right {
    @extend .media-right;
  }
}
